/*header {
	position: fixed;
	top:0;
	left: 0;
	background-color: black;
}*/
header nav a {
	color: #333;
	font-size: 30px;
	font-weight: bold;
	position: fixed;
	top: 0;
	left: 15px;
	z-index: 1000;
}

.alert {
	margin: 20px auto;
}